html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 375px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  border: 5px solid #000;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #c6c6c6;
}
.header-logo {
  margin-left: 10px;
  height: 43px;
  width: 127px;
}

.my-avatar {
  left: 325;
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  width: 34px;
  margin-left: 5px;
}

.post {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.vangogh-text {
  font-size: 13px;
  margin: 0;
  padding: 1px;
}

.newline {
  display: block;
  font-size: 12px;
}

.bold {
  font-weight: 900;
}
.desc {
  margin-left: 5px;
}

.vangogh-image {
  width: 375px;
  height: 375px;
}

.icons {
  display: flex;
  margin: 10px;
}

.icons img {
  width: 23px;
  height: 22px;
}

.icon-img {
  margin-right: 10px;
}

.icon-img:hover {
  opacity: 0.5;
}

.likes {
  font-size: 13px;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 5px;
}

.likes-text {
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
}

.last-text {
  margin-top: 0;
}
